{% extends "pantry/authenticated_base.html" %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/styles_pantry.css' %}">
{% endblock %}

{% block content %}


    <h2>Your Pantry Items:</h2>
    <form action="#" method="POST">
        <div id="pantry-container">
            <ul>
                {% for pantry_item in pantry_items %}
                    <li>{{pantry_item}}</li>
                {% endfor %}
            </ul> 
        </div>

        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-success" type="submit">Add Item</button>
    </form>







    <button type="submit" class="btn btn-primary">Generate Grocery List</button>

{% endblock %}