{% extends 'pantry/authenticated_base.html' %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/styles_recipe_detail.css' %}" />
{% endblock %}


{% block title %} - Recipe Detail {% endblock %}

{% block content %}
    <section>
        <h2>{{recipe.title}}</h2>
        <img src="{{recipe.image}}" alt="Image of {{recipe.title}}">
        <p id="summary-text">{{recipe.summary|safe}}</p>
    </section>

    <section>
        <h3>Ingredients</h3>
        <div class="ingredients-container">
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient.original}}</li>
                {% endfor %}
            </ul>

        </div>
    </section>

    <section>
        <h3>How to cook '{{recipe.title}}'</h3>
        <div class="instructions-container">
            <ol>
                {% for step in steps %}
                    <li>{{step.step}}</li>
                {% endfor %}
            </ol>
        </div>
    </section>
{% endblock %}