#content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    width: 90%;
    margin: auto;
}

header {
    padding: 20px;
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: #f2f2f2;
}

.form-header{
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 35px;
}

.login-input {
    margin: 10px 0;
}

.helptext, form li, form>p {
    font-size: 0.8rem;
}

form p {
    margin: 0;            
}

form>p {
    text-align: center;
}

#p-or {
    margin: 20px auto;
}

form>p:last-of-type {
    margin-top: 35px;
}

form div ul {
    margin: 10px 0 0;
}

footer {
    font-size: 0.9rem;
    padding: 50px 0 30px 0;
    text-align: center;
    width: 90%;
    margin: auto;
}

label {
    position: relative;
    top: 15px;
    left: 20px;
    font-weight: bold;
    margin: 5px 0;
    z-index: 5;
    padding: 0 10px;
    background-color: white;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-color: #a5a5a5a9;
    border-radius: 5px;
}

input.btn {
    padding: 10px;
    margin-top: 25px;
}

.errorlist {
    color: red;
    list-style-type: '* ';
}

.sso-container {
    display: flex;
    flex-direction: column;
}

.fb-login, .google-login {
    display: flex;
    width: 100%;
    align-items: center;
    border: 0.5px solid #a5a5a583;
    padding: 10px 0;
    border-radius: 10px;
    margin: 5px 0;
    background-color: white;
}

.sso-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    border-radius: 3px;
}

.sso-text {
    flex: 1;
    transform: translateX(-10px);
    margin: 0;
    text-align: center;
}


/* Media queries */

@media (min-width: 550px) {
    main {
        width: 60%;
    }
}

@media (min-width: 900px) {
    main {
        width: 30%;
    }
}