    /* GENERAL STYLING */

main>h2 {
    padding-left: 20px;
    margin: 0;
}

form {
    width: 100%;
}


footer {
    padding-bottom: 100px;
}

#zero-item-message {
    text-align: center;
    margin: 20px;
}

form>p {
    margin-bottom: 7.5px;
}

form>h3 {
    padding: 0;
}

header {
    position: sticky;
    top: -1px;
    z-index: 10;
}




    /* PANTRY LIST STYLING */

.pantry-list-header {
    display: flex;
    font-weight: bolder;
    gap: 10px;
    padding: 15px;
    padding-left: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #d8d8d8;
}

.header-right div {
    width: 70px;
    text-align: center;
}


    /* PANTRY ITEM STYLING */

.pantry-item {
    cursor: pointer;
    padding: 20px 12.5px;
}

.pantry-item-details {
    padding-left: 10px;
    color:#818181;
}

.pantry-item-container {
    display: flex;
    justify-content: space-between;
    align-items: top; 
}

.pantry-item-controls, .pantry-item input {
    height: 15px;
}

.pantry-item-container span {
    font-weight: bolder;
    list-style-type: none;
    padding-left: 10px;
    width: 100%;
}

.pantry-item-options {
    display: flex;
    align-items: center; 
}

.pantry-item-options button {
    padding: 0;
}

.pantry-item-options input, .pantry-item-options button {
    width: 70px;
}

.pantry-item+div:nth-child(even) {
    background-color: #d1e1f8;
}

#pantry-item-form {
   margin: 0;
}



    /* SAVE BUTTON STYLING */
/* #save-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 20px;
    position: -webkit-sticky; 
    position: sticky;
    top: 84px;
    z-index: 10;
} */

#save-btn {
    position: fixed;
    top: 73px;
    z-index: 10;
    
    width: 100%;
    background-color: #052874;
    color: white;
    padding: 20px 0;
    border: none;
}

#last-update {
    color: #a5a5a5a9;
    font-size: 0.9rem;
}

    /* ADD ITEM STYLING */

#add-item-form {
    display: none;
    padding: 0px 15px;
    margin: 20px auto;
}

#add-item-form input {
    width: 100%;
    margin: 10px 0;
    padding: 7.5px;
    border-color: #a5a5a5a9;
    border-radius: 5px;
}

#add-item-btn {   
    max-width: 100%;
    margin: 20px 10px 0px 10px;
    padding: 15px;
    background-color: rgb(255, 217, 0);
}

    /* PANTRY CONTROLS STYLING */

.pantry-controls {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;  
    padding: 10px;  
}

.pantry-control-text {
    padding: 25px;
}

.pantry-controls a {
    color: white;
    background-color: tomato;
    border: 1px solid #a5a5a5a9;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    text-align: center;
    align-content: center;
    text-decoration: none;
}





    /* EDIT FORM STYLING */

#edit-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: #424242;
    z-index: 999; 
    padding: 20px;
    overflow-y: hidden; 
    overflow-x: hidden;  
}

#edit-form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#edit-form span {
    text-transform: capitalize;
}

#edit-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    font-size: 1.3rem;
}

#edit-form-header>button {
    background-color: transparent;
    border: none;
}

.edit-form-data {
    flex: 5;
}

#edit-form input, #item-unit {
    width: 100%;
    margin: 10px 0;
    padding: 7.5px;
    border-color: #a5a5a5a9;
    border-radius: 5px;
}

#item-unit option {
    font-size: 0.8rem;
    width: 150px;
}

#edit-form-container>button{
    padding: 15px;
}


    /* NEW ITEM STYLING */

#new-item-controls {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#new-item-controls button {
    flex: 1;
}