
section {
    margin-top: 20px;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

h2, h3{
    padding: 0 20px;
    margin-bottom: 20px;
}

h3 {
    margin: 10px 0;
}

section>div {
    border-top: 2px solid #8aacf591;
}

footer {
    padding-bottom: 100px;
}

p {
    padding: 0 20px;
}

.ingredients-container li, .instructions-container li {
    margin: 15px 25px 15px 5px;
}

@media (min-width: 600px) {
    main {
        width: 70%;
    }

    img {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}

@media (min-width: 800px) {
    main {
        width: 50%;
    }
}



